* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 100px;   
    width: 100%; 
    max-width: 100vw;
    margin-bottom: 50px;
  }
