<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Celeste Bookstore</h5>
          <p>Celeste Bookstore is your premier destination for books of all genres. We believe in the power of reading and aim to bring the joy of books to everyone.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/books">Browse Books</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            123 Book Street<br>
            Reading, RD 12345<br>
            <a href="mailto:info@celestebookstore.com">Test</a><br>
            <a href="tel:+1234567890">(123) 456-7890</a>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center copyright">
          <p>&copy; {{ currentYear }} Celeste Bookstore. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>