<!DOCTYPE html>
<html lang="en">
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top"
            id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Celeste</a>
                <button class="navbar-toggler navbar-toggler-right"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link"
                                href="#about">Shopping cart</a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="#skills">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div
                class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase "
                            id="slogan">Where Stories Soar and Imagination Knows
                            No Limits.</h1>
                    </div>
                </div>
            </div>
        </header>
        <!-- About
            <section class="about-section text-center" id="about">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="text-white mb-4">About me</h2>
                            <p class="text-white-50">
                                Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                                <img src="/assets/img/new-background.jpg">
                                The theme is open source, and you can use it for any purpose, personal or commercial.
                            </p>
                            
                        </div>
                    </div>
                    
                </div>
            </section> -->
    </body>
