<h1>Test</h1>

<div class="register-container">
    <div class="register-card">
      <h2>Register</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Register</button>
      </form>
      <div class="oauth-buttons">
        <button class="oauth-button google" (click)="loginWithGoogle()">
          Sign up with Google
        </button>
      </div>
    </div>
  </div>