<div class="container mt-5">
  <h2>Login</h2>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        [(ngModel)]="email" 
        required 
        email
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        [(ngModel)]="password" 
        required 
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>

  <button (click)="googleLogin()" class="btn btn-danger mt-2">Login with Google</button>
  <div class="my-3 max-w-xl mx-auto">
    Don't have account? <a class="underline" routerLink="/register">Register</a>
  </div>
</div>