* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 50px;
  background-color: #242424;
}

::ng-deep .toast-container {
  z-index: 99999 !important;
  position: fixed !important;
}

.toast-container {
  position: fixed !important;
  z-index: 99999 !important;
}

.toast {
  opacity: 1 !important;
  visibility: visible !important;
}
